/*css for output page goes here*/

body {
    background-image: url("./assets/Shutterstock-a-profile-of-a-mountain-lion-with-a-wooded-background.jpg");
    /* background-color: #cccccc; */
}

.top-bar {
    background-color: blanchedalmond;
    border-bottom: black 2px ridge;

}
/* why can't I change background color for the topbar-link element? */
.topbar-responsive-links {
    background-color: blanchedalmond;
    

}

.output {
    margin: auto 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*why won't the background color change?*/
.topbar-responsive-links {
    
}

#detailsContainer {
    background-color: blanchedalmond;
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin-top: 20px;
    padding: 10px 
}

  
/*css for output page ends here*/