
/* css for footer */



/* end css for footer -Jason   */
body { 
  background-image: url("./assets/Shutterstock-a-profile-of-a-mountain-lion-with-a-wooded-background.jpg");
  background-repeat: no-repeat;
  /* background-size: 81.2em; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5em;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

/*css for header*/
.top-bar {
  background-color: darkslategray;
  margin: 0px auto;
  overflow: hidden;
}

.topbar-responsive-logo {
  overflow: hidden;
  font-size: 20px;
  color: darkorange;
  padding: 5px 10px;

}

.top-bar-title {
  overflow: hidden;
  background-color: #2f4f4f;
  /* margin-left: 10px; */
}

.menu-icon {
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 5px;
}

.searchBox {
  overflow: hidden;
  margin-top: 350px;
  margin-left: 50px;
  margin-right: 50px;
}

/* css for footer */
.footer-container {

  overflow: hidden;
  padding-top: 200px;
  margin: 0px;
}
/*end css for search bar and header */


body {
    background-color: #cccccc;
   }

   







  /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
         #map {
          height: 75%;
          width: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          width: 100%;
          margin: 20px;
          padding: 20px;
          
        }


.hero-search-filter {
  background: url("https://images.pexels.com/photos/115095/pexels-photo-115095.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat;
  height: 300px;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-search-filter-menu {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-menu li {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .hero-search-filter-menu li a {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-search-filter-menu a {
  color: #fefefe;
  font-weight: bold;
}

.hero-search-filter-menu a .fa {
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
}

.hero-search-filter-menu a:hover {
  text-decoration: underline;
}

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  background: #fefefe;
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-search-filter-form .divider {
  background-color: #cacaca;
  width: 1px;
}

.hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #8a8a8a;
  font-weight: bold;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 95%;
  }
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
  border: 0;
  box-shadow: none;
}

